<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzx.zzx_music_recommendation_system.mapper.CommentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzx.zzx_music_recommendation_system.entity.CommentInfo">
        <id column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="music_id" property="musicId" />
        <result column="create_user_id" property="createUserId" />
        <result column="modify_user_id" property="modifyUserId" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="value1" property="value1" />
        <result column="value2" property="value2" />
        <result column="value3" property="value3" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <select id="queryForPage" resultType="com.zzx.zzx_music_recommendation_system.vo.CommentVO">
        SELECT A.*, U.value1 AS userValue1, U.user_name AS userName
        FROM comment_info A
                 LEFT JOIN user_info U on A.user_id = U.user_id
        WHERE A.music_id = #{musicId}
          AND A.is_delete = 1
        ORDER BY A.gmt_created DESC
    </select>
</mapper>
